#password-strength {
    height: 20px;
    border-radius: 5px;
  }
  
  #password-strength .progress-bar {
    border-radius: 10px;
  }
  
  #password-strength .bg-danger {
    background-color: red;
  }
  
  #password-strength .bg-warning {
    background-color: orange;
  }
  
  #password-strength .bg-success {
    background-color: green;
  }
  
  #password-conditions .password-condition {
    margin-top: 2px;
    width: 50%;
    color: grey;
  }
  
  #password-conditions .password-condition.met {
    background-color: green;
    color: #fff;
  }
  p{
    margin-top: 5px;
    font-size: 22px;
  }
label[for="password"] {
    font-size: 22px; /* Adjust the size as needed */
    font-weight: bold; /* Ensure the text is bold */
}
#password + p {
    margin-top: 20px; /* Add space above the "Your password should include" section */
}

